@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   LIGHT THEME
========================= */

:root {
  /* Primary */
  --primary: #C06C4E;
  --primary-hover: #A9573D;
  --primary-light: #F3DED5;

  /* Background */
  --background: #FAF7F2;
  --surface: #FFFFFF;
  --surface-secondary: #F5F0E9;

  /* Accent */
  --accent: #7D8F69;

  /* Text */
  --text-primary: #2B2B2B;
  --text-secondary: #5B5B5B;

  /* Border */
  --border: #E9E2D8;

  /* Status */
  --success: #22C55E;
  --error: #EF4444;
}


/* =========================
   DARK THEME
========================= */

.dark {
  /* Primary */
  --primary: #D98263;
  --primary-hover: #E3977A;
  --primary-light: #3A2420;

  /* Background */
  --background: #1C1917;
  --surface: #292522;
  --surface-secondary: #342F2B;

  /* Accent */
  --accent: #9BAF83;

  /* Text */
  --text-primary: #F5F1EB;
  --text-secondary: #B8B0A7;

  /* Border */
  --border: #49413A;

  /* Status */
  --success: #4ADE80;
  --error: #F87171;
}